__pycache__/
**/.DS_Store
dist/
build/
.venv
.tf_venv
**/target
nnue-training/*.csv
nnue-training/*.bin
nnue-training/*.keras
nnue-training/data/*
nnue-training/data_dedup/*
nnue-training/data_dedup_mixed/*
nnue-training/production_shards/*
nnue-training/temp_mixer_shards/*
profile.json.gz